# File di configurazione con credenziali sensibili
database.php
push_config.php

# Dipendenze di Composer
/vendor/

# Log di debug
*.log
# File di configurazione con credenziali
config_mail.php

# File temporanei o di sistema
.DS_Store
Thumbs.db